.App__form {
  position: fixed;
  bottom: 0;
  padding: 16px 24px;
  background-color: #ebebe9;
  z-index: 100;
  width: 100%;
  box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.24);
}

h1{
  display: block;
  text-align: center;
}

.App__formContainer {
  min-width: 100% !important;
  display: flex !important;
  flex-flow: row !important;
}

.App__formContainer--textFeild {
  /* min-width: calc(100% - 2rem); */
  flex: 0.9;
}

.App__formContainer--iconButton {
  flex: 0.1;
  background-color: #0b81ff;
}